@import "../../variables.scss";
.tarif-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 0;
  border: 1px solid #000;
  margin: 10px auto;
  p {
    margin: 0;
  }
  .index-section {
    display: flex;
    align-items: center;
    flex-basis: auto;
    width: 30px;
    height: auto;
    p {
      width: 100%;
      text-align: center;
    }
  }
  .name-section {
    flex-basis: auto;
    width: 160px;
    padding-left: 20px;
    h3 {
      font-size: 24px;
    }
  }
  .bandwith-section {
    flex-grow: 1;
    padding: 20px;
    label {
      display: none;
    }
    .upload {
      display: none;
    }
    span {
      display: inline-block;
      width: 20px;
      text-align: center;
    }
  }
  .benefits-section {
    display: none;
  }
  .price-section {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-self: flex-start;
    text-align: right;
    padding: 20px;
    p {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media #{$tablet} {
  .tarif-card {
    p {
      margin: 0;
    }
    .index-section {
      align-self: stretch;
      flex-basis: auto;
      border-right: 1px solid #000;
      p {
        flex-grow: 1;
      }
    }
    .bandwith-section {
      .upload {
        display: block;
      }
      span {
        width: 50px;
        border: 1px solid #000;
      }
    }
    .price-section {
      flex-direction: column;
      p {
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
}

@media #{$desktop} {
  .tarif-card {
    p {
      margin: 0;
    }
    .index-section {
      align-self: stretch;
      flex-basis: auto;
      border-right: 1px solid #000;
      p {
        flex-grow: 1;
      }
    }
    .bandwith-section {
      label {
        display: block;
      }
    }
    .benefits-section {
      display: block;
      flex-grow: 1;
    }
  }
}
